### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
# 强制保留（白名单）以下运行配置和地图数据
!run/config/
!run/defaultconfigs/
!run/mods/
!run/resourcepacks/
!run/saves/
!run/xaero/
!run/XaeroWaypoints_BACKUP240807/
!run/options.txt
!run/logs/
!run/crash-reports/
!run/debug/
!run/downloads/
!run/shaderpacks/
!run/debug/
!run/debug/
!run/debug/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/